<form action="/{{# if admin}}admin/{{/if}}login" method="POST">
    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control has-icons-left">
            <input class="input" id="email" type="text" placeholder="Enter email" name="email" required>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control has-icons-left">
            <input class="input" id="password" type="password" placeholder="Enter Password" name="password">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
        </div>
    </div>
    <div class="field is-grouped">
        <button class="button is-link mr-2"><i class="fas fa-user mr-2"></i> Log in</button>
        {{# if admin}}
            <a class="button is-link is-info" href="/">
                <i class="fas fa-backward mr-2"></i> Back to app
            </a>
        {{/if}}
    </div>
</form>
