<form action="/categories" method="POST" class="box">
    <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control has-icons-left">
            <input class="input" id="name" type="text" placeholder="Enter the name for the new category" name="name" required>
            <span class="icon is-small is-left">
              <i class="fas fa-star"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label for="description" class="label">Description</label>
        <div class="control has-icons-left">
            <input class="input" id="description" type="text" placeholder="Enter a description for the new category" name="description" required>
            <span class="icon is-small is-left">
              <i class="fas fa-file"></i>
            </span>
        </div>
    </div>

    <button class="button is-primary">Save</button>
</form>