<form action="/password" method="POST">
    <div class="field">
        <label class="label" for="email">Current password</label>
        <div class="control has-icons-left">
            <input class="input" id="currentPassword" type="password" placeholder="Enter current password" name="currentPassword" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control has-icons-left">
            <input class="input" id="newPassword" type="password" placeholder="Enter new password" name="newPassword" required>
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
        </div>
    </div>
    <div class="field is-grouped">
        <button class="button is-link"><i class="fas fa-arrow-right mr-2"></i> Change password</button>
    </div>
</form>