<div class="columns mb-6">
    <div class="column">
        {{# if users.length}}
            {{> UserPanel }}
        {{else}}
            {{> Notification type="warning" message="No other user found." icon="circle-exclamation"}}
        {{/if}}
    </div>
    <div class="column">
        {{# if editUser}}
         {{> UserEditor}}
        {{/if}}
    </div>
</div>

<style>
    .user-block {
        padding: 1rem;
    }
</style>