{{> NavBar loggedIn=true active="about" }}

<div class="container">
    <div class="block is-flex is-justify-content-center">
        <img width="250" src="/images/placemarklogo2.png"/>
    </div>
    <h1 class="title has-text-centered">About Placemark</h1>
    <p class="has-text-centered mb-4">
        Placemark is a project for the Advanced Full Stack Development Course at OTH Regensburg.
    </p>
    <p class="has-text-centered mb-4">
        Placemark is a web application that allows you to save places you have visited or want to visit.
        You can add a place by entering the name, location and a description of the place. You can also
        add a picture of the place. You can view all the places you have added. You can also edit and delete the places you have added.
    </p>
    <p class="has-text-centered">
        <strong>Developed by:</strong><br>
        Matthias Gerhard<br>
        Matr.Nr.: 3312948<br>
        <a href="mailto:matthias.gerhard@st.oth-regensburg.de">matthias.gerhard@st.oth-regensburg.de</a>
    </p>
</div>