{{> NavBar loggedIn=true active="categories" }}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="is-sticky">
                <h1 class="title"><small><i class="fas fa-plus mr-2"></i></small>New category</h1>
                {{> NewCategory}}
            </div>
        </div>
        <div class="column">

            <h1 class="title"><small class="has-tooltip-right" data-tooltip="Count: {{categories.length}}"><i class="fas fa-star mr-2"></i></small>Categories</h1>
            {{# unless categories.length}}
                {{> Notification message="You have no categories yet." type="warning" icon="circle-exclamation"}}
            {{/unless}}
            {{# each categories}}
                {{> CategoryView}}
            {{/each}}
        </div>
    </div>
</div>