{{> NavBar loggedIn=false }}

<div class="container">
    {{#if accCreated}}
        {{> Notification message="Account created successfully!" type="success" icon="check"}}
    {{else}}
        {{# ne accCreated null}}
            {{> Notification message="Account already exists!" type="danger" icon="exclamation-triangle"}}
        {{/ne}}
    {{/if}}

    <div class="box login-box">
        <h1 class="title">Sign up</h1>
        {{> SignupForm }}
    </div>
</div>

